/* == MELANCHOLY PALETTE == */
@define-color bg #1a1c23;
@define-color fg #aab1be;

@define-color red #b07b7b;
@define-color green #8da18d;
@define-color yellow #bfb48f;
@define-color blue #7a8ca3;
@define-color magenta #9e8ba3;
@define-color cyan #889ca6;

@define-color grey #4b5263;
@define-color dark_grey #2c323c;

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    font-weight: 600;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    border-bottom: 2px solid @dark_grey;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -- Niri Workspaces -- */
#workspaces {
    margin: 4px 8px;
    padding: 0 5px;
    background-color: @dark_grey;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 8px;
    color: @fg;
    font-size: 16px;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button.active {
    color: @fg;
}

#workspaces button:hover {
    background-color: @grey;
    box-shadow: none;
}

/* -- Window Title -- */
#window {
    color: @fg;
    padding: 0 15px;
    font-style: italic;
}

/* -- Modules -- */
.modules-right > widget > label,
.modules-right > widget > box {
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 6px;
}

#cpu, #memory, #disk, #pulseaudio, #battery, #language, #network, #custom-wifitemp, #clock, #tray, #custom-power, #custom-weather {
    padding: 0 12px;
    background-color: @bg;
    border-left: 1px solid @dark_grey;
}

#custom-weather { color: @cyan; }
#cpu { color: @blue; }
#memory { color: @cyan; }
#disk { color: @yellow; }
#pulseaudio { color: @magenta; }
#language { color: @magenta; font-weight: 800; }
#network { color: @green; }
#custom-wifitemp { color: @green; font-size: 12px; }
#clock { color: @blue; border-left: none; }
#custom-power { color: @red; padding-right: 15px; }

#battery.charging { color: @green; }
#battery.warning:not(.charging) { color: @yellow; }
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @bg;
    }
}

#tray {
    padding: 0 10px;
}

#tray menu {
    background-color: @bg;
    color: @fg;
}

#custom-launcher {
    color: @blue;
    padding: 0 15px;
    font-size: 20px;
    background-color: @dark_grey;
    border-radius: 8px;
    margin: 4px 0 4px 8px;
}
