[submodule "configs/minvim"]
	path = configs/minvim
	url = git@github.com:nobel-von-it/minvim.git
[submodule ".wrappers/rcma"]
	path = .wrappers/rcma
	url = git@github.com:nobel-von-it/rcma.git
[submodule ".wrappers/parp"]
	path = .wrappers/parp
	url = ssh://git@codeberg.org/nobel-von-it/parp.git
